:root {
	--gray20: #333;
	--graySH: rgba(211, 211, 211, .5);
	--grayBR: #dadbde;
	--grayBG: #f5f8fB;
	--green: #518e4c;
	--darkblue: #003e74;
	--blue: #0000cd;
	--paleblue: #66629B;
	--lightblue: #eaefff;
	--bloodorange: #ff560d;
}

@font-face {
    font-display: swap;
    font-family: "ImperialSansText";
    font-style: normal;
	font-weight: 200;
    src: url(../fonts/imperial-sans/ImperialSansText-Extralight.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "ImperialSansText";
    font-style: normal;
	font-weight: 300;
    src: url(../fonts/imperial-sans/ImperialSansText-Light.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "ImperialSansText";
    font-style: normal;
	font-weight: 400;
    src: url(../fonts/imperial-sans/ImperialSansText-Regular.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "ImperialSansText";
    font-style: normal;
	font-weight: 500;
    src: url(../fonts/imperial-sans/ImperialSansText-Medium.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "ImperialSansText";
    font-style: normal;
	font-weight: 600;
    src: url(../fonts/imperial-sans/ImperialSansText-Semibold.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "ImperialSansText";
    font-style: normal;
	font-weight: 700;
    src: url(../fonts/imperial-sans/ImperialSansText-Bold.woff2) format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "ImperialSansText";
    font-style: normal;
	font-weight: 800;
    src: url(../fonts/imperial-sans/ImperialSansText-Extrabold.woff2) format("woff2");
}

html {
	background-color: var(--grayBG);
}

html * {
    font-family: ImperialSansText, Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: var(--gray20);
	box-sizing: border-box;
}

body {
    background-color: var(--grayBG);
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	max-width: 1400px;
    margin: 0 auto;
}

.main {
	box-sizing: border-box;
    overflow: hidden;
	width: 100%;
    max-width: 1400px;
    padding: 0px 20px;
    margin: 0 auto;
	flex: 1;
}

#above-footer {
	min-height: calc(100vh - 65px);
}

footer {
    background-color: var(--darkblue);
    color: white;
	line-height: 20px;
	margin-top: 50px;
    box-sizing: border-box;
	position: relative;
}

.footer-content {
	box-sizing: border-box;
	width: 100%;
	max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
	background-color: var(--darkblue);
}

.footer-left {
    padding: 10px 30px 20px 0;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.contacts {
    margin-top: 20px;
    color: white;
    box-sizing: border-box;
    bottom: auto;
    position:absolute;
}

.navbar, .navbar-bg {
	background-color: var(--darkblue);
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 59px;
	line-height: 59px;
	overflow: hidden;
	white-space: nowrap;
	z-index: 1000;
}

.navbar, .navbar * {
	color: white;
	text-decoration: none;
	font-size: 11px;
	z-index: 1000;
}

.navbar-left {
	position: absolute;
	bottom: 0px;
	left: 20px;
	padding-left: 30px;
}

.navbar-right {
	text-align: right;
	position: absolute;
	right: 20px;
	top: 23px;
	font-size: 11px;
}

.navbar-left *, .navbar-right * {
	height: 13px;
	line-height: 13px;
	pointer-events: auto;
	display: block;
	font-size: 14px;
	float: right;
}

.logo {
	width: 200px;
    height: 50px;
    margin-top: 15px;
    display: block;
    text-indent: -250%;
    position: absolute;
}

#home-logo {
	bottom: 8px;
    left: 0px;
}

#footer-logo {
	top: -4px;
}

#inf {
	font-size: 56px;
	position: relative;
	top: 10px;
	margin: 0 -3px;
	color: var(--darkblue);
}

#inf-imperialsans {
	font-size: 46px;
	position: relative;
	top: 2px;
	margin: 0 -2px;
	color: var(--darkblue);
}

h1, h1 * {
	background-position: center center;
    background-size: cover;
	font-size: 36px;
    font-weight: 600;
	text-decoration: none;
    line-height: 34px;
    margin: 7px 0 0 0;
}

h2, h2 * {
	font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
	margin: 8px 0 8px;
    text-decoration: none;
}

.error-title {
	color: var(--darkblue);
}

h3 {
	padding-bottom: 10px;
}

h3, h3 * {
	color: var(--darkblue);
	text-decoration: none;
	font-size: 16px;
}

h4 {
	padding-bottom: 15px;
	color: var(--darkblue);
}

#main-title {
	background-color: white;
    width: 100%;
	max-width: 1400px;
	padding: 100px 20px 0 20px;
	margin: 0 auto 30px auto;
    border-bottom: 1px solid var(--graySH);
}

.courses-dir {
	font-weight: 500;
}

.subtitle, .subtitle * {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 16px;
}

.detail {
	margin: 6px 0px 18px 0px;
}

.detail a {
	color: var(--blue);
}

.detail i {
	opacity: 0.5;
}

.detail p {
	margin-bottom: 6px;
	font-weight: bold;
}

.error-message, .error-message * {
	font-size: 12px;
	font-style: italic;
	color: var(--bloodorange);
	list-style-type: none;
	position: relative;
	top: 3px;
	left: 7px;
}

.small-indent {
	margin-left: 15px;
}

#suggestion-label {
	color: var(--green);
}

#id_suggested_improvements {
	border: none;
	background-color: var(--grayBG);
}

.card-row {
	box-sizing: border-box;
	width: 80%;
	height: 100%;
    margin: 10px;
	padding: 0;
	display: inline-block;
    vertical-align: top;
}

.card-row ul {
	width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap balance;
    flex-direction: row;
}

.card-row li {
    margin-bottom: 20px;
    margin-right: 1.96%;
    width: 23.04%;
	max-width: 31.37%;
	min-width: 150px;
}

.card {
	border-radius: 6px;
	background-color: white;
    border: 1px solid var(--grayBR);
    box-shadow: 0 1px 3px var(--graySH);
    padding: 15px;
    padding-right: 0;
	overflow: hidden;
}

.card a, .card a h2 {
	color: var(--darkblue);
	text-decoration-color: var(--darkblue);
}

.card h2 {
	padding-right: 25px;
}

.card-content {
    height: 57px;
    margin-top: 5px;
    overflow-x: hidden;
    padding-right: 15px;
}

button, input[type="button"] {
	background-color: var(--darkblue);
	color: white;
	padding: 0;
	border: 1px solid var(--grayBG);
	border-radius: 4px;
	padding: 10px;
	cursor: pointer;
	height: 37px;
	position: relative;
	z-index: 2;
}

.btn-manage {
	background-color: var(--darkblue);
}

.btn-apply, .btn-create {
	background-color: var(--blue);
}

.btn-delete {
	background-color: darkred;
}

/* #new-assign-btn {
	position: absolute;
	right: 0;
} */

#check-feedback-btn {
	margin: 15px 15px 30px 15px;
	background-color: var(--green);
}

textarea {
	width: 65vw;
}

.text-left-button-right {
	margin-right: 10px;
	margin-bottom: 3px;
	min-height: 37px;
	position: relative;
}

.text-left-button-right > h2, .text-left-button-right > h3 {
	/* position: absolute;
	left: 0; */
	max-width: calc(100% - 180px);
}

.text-left-button-right > a, .text-left-button-right > button, .text-left-button-right > .double-button-left {
	position: absolute;
	right: 0;
	top: 0;
}

.double-button-left {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.double-button-left a {
	color: var(--paleblue);
}

.double-button-left button {
	margin-bottom: 3px;
}

.short-input {
	width: 50px;
	margin-bottom: 2px;
}

.no-deco {
	text-decoration: none;
}

.vertical-scroll {
	max-height: 50vh;
	overflow-x: auto;
	overflow-y: auto;
	padding: 0px 10px 10px 10px;
	border: 1px solid var(--graySH);
	background: white;
	border-top: 10px solid white;
}

table {
	width: 90vw;
	min-width: 400px;
    border-collapse: collapse;
	table-layout: auto;
	background: white;
	margin-bottom: 15px;
}

thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background: white;
	border-bottom: 7px solid white;
}

thead tr {
	border-bottom: none;
}

tr {
	border-bottom: 3px solid white;
}

tr * {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

th {
	padding: 0px 5px;
	position: relative;
	text-align: center;
	color: var(--darkblue);
	font-weight: normal;
}

td {
	color: var(--paleblue);
	position: relative;
	padding: 0px 5px;
	background: unset;
	transition: all .1s ease-in-out;
	transform-origin: center;
	text-align: center;
}

th:not(:nth-last-child(-n + 2)),
td:not(:nth-last-child(-n + 2)) {
	min-width: 60px;
}

th:nth-last-child(-n + 2),
td:nth-last-child(-n + 2) {
	min-width: calc(45vw - 120px);
}

td a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  color: inherit;
}

td i {
	opacity: 0.5;
}

.grey-box, .grey-box-fixed {
	height: 32px;
	background: var(--lightblue);
	border-radius: 2px;
	filter: grayscale(1);
}

.grey-box:hover {
	filter: grayscale(0);
}

.grey-box:hover td {
	transform: scale(1.05);
}

#empty-table-entry {
	position: absolute;
	top: 10px;
}